{{ 'section-discover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile | times: 0.5 | round: 0 }}px;
  }

  {%- if section.settings.background_image != blank -%}
  .discover.section-{{ section.id }} {
      background-image: url("{{ section.settings.background_image | img_url: 'master' }}");
    }
  {%- endif -%}

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="discover page-width section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="discover__top top-discover">
        <div class="top-discover__upper">
            <h2 class="top-discover__title">{{ section.settings.title }}</h2>
            <a href="{{ section.settings.button_link }}" class="top-discover__button">{{ section.settings.button_text }}</a>
        </div>
        <h3 class="top-discover__subtitle">{{ section.settings.subtitle }}</h3>
    </div>
    <div class="discover__items">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'small_item' -%}
              <div class="discover__item item-discover item-discover_small" {{ block.shopify_attributes }}>
                  <div class="item-discover__image">
                    {%- if block.settings.image_small -%}
                      {{ block.settings.image_small | image_url: width: 344 | image_tag }}
                    {%- endif -%}
                  </div>
                  <h4 class="item-discover__name">{{ block.settings.name_small }}</h4>
              </div>
              {%- when 'big_item' -%}
              <div class="discover__item item-discover item-discover_big" {{ block.shopify_attributes }}>
                  <div class="item-discover__image">
                    {%- if block.settings.image_big -%}
                      {{ block.settings.image_big | image_url: width: 420 | image_tag }}
                    {%- endif -%}
                  </div>
                  <h4 class="item-discover__name">{{ block.settings.name_big }}</h4>
              </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
</div>

{% schema %}
    {
      "name": "Discover",
      "max_blocks": 3,
      "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 32
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 32
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_mobile_heading"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 24
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 24
        },
        {
            "type": "header",
            "content": "Text settings"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Discover"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "New wow-flavors"
        },
        {
            "type": "header",
            "content": "Button settings"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "All menu"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
            "type": "header",
            "content": "Background settings"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background image"
        }
      ],
      "blocks": [
         {
           "name": "Small item",
           "type": "small_item",
           "settings": [
            {
              "type": "header",
              "content": "Image settings"
            },
            {
              "type": "image_picker",
              "id": "image_small",
              "label": "Item image"
            },
            {
              "type": "header",
              "content": "Text settings"
            },
            {
              "type": "text",
              "id": "name_small",
              "label": "Item name",
              "default": "Desserts"
            }
           ]
         },
         {
           "name": "Big item",
           "type": "big_item",
           "settings": [
            {
              "type": "header",
              "content": "Image settings"
            },
            {
              "type": "image_picker",
              "id": "image_big",
              "label": "Item image"
            },
            {
              "type": "header",
              "content": "Text settings"
            },
            {
              "type": "text",
              "id": "name_big",
              "label": "Item name",
              "default": "Traditionals"
            }
           ]
         }
      ],
      "presets": [
        {
          "name": "Discover",
          "settings": {
          },
          "blocks": [
            {
              "type": "small_item",
              "settings": {
                }
            },
            {
              "type": "big_item",
              "settings": {
                }
            },
            {
              "type": "small_item",
              "settings": {
                }
            }
          ]
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
    {% endschema %}