{{ 'section-lemonade.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="lemonade section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="lemonade__body">
        <div class="lemonade__image">
            <img src="https://cdn.shopify.com/s/files/1/0569/6241/6736/files/lemonade-hand.png?v=1711555865" alt="">
        </div>
        <div class="lemonade__info info-lemonade">
            <h3 class="info-lemonade__subtitle">Try our signature</h3>
            <div class="info-lemonade__inner">
                <a href="#" class="info-lemonade__button orange-button">Choose</a>
                <h2 class="info-lemonade__title">lemonades</h2>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Lemonade",
        "max_blocks": 2,
        "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 32
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 32
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_mobile_heading"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 24
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 24
        },
        {
            "type": "header",
            "content": "Section text & button settings"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "what our guests say"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "More REVIEWs ON"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
        ],
        "blocks": [
            {
            "name": "Review",
            "type": "review",
            "settings": [
                {
                "type": "header",
                "content": "Item image settings"
                },
                {
                "type": "image_picker",
                "id": "item_avatar",
                "label": "Item avatar"
                },
                {
                "type": "header",
                "content": "Item text settings"
                },
                {
                "type": "text",
                "id": "item_name",
                "label": "Item name",
                "default": "Amy herrera"
                },
                {
                "type": "textarea",
                "id": "item_body",
                "label": "Item text"
                }
            ]
            }
        ],
        "presets": [
        {
            "name": "Lemonade",
            "settings": {
            },
            "blocks": [
            {
                "type": "review",
                "settings": {
                }
            },
            {
                "type": "review",
                "settings": {
                }
            }
            ]
        }
        ],
        "enabled_on": {
        "templates": ["*"]
        }
    }
    {% endschema %}