{{ 'section-lemonade.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="lemonade section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="lemonade__body">
        <div class="lemonade__image">
            {%- if section.settings.image != blank -%}
                {{ section.settings.image | image_url: width: 724 | image_tag }}
              {%- endif -%}
        </div>
        <div class="lemonade__info info-lemonade page-width">
            <h3 class="info-lemonade__subtitle">{{ section.settings.subtitle }}</h3>
            <div class="info-lemonade__inner">
                <a href="{{ section.settings.button_link }}" class="info-lemonade__button orange-button">
                    {{ section.settings.button_text }}
                </a>
                <h2 class="info-lemonade__title">{{ section.settings.title }}</h2>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Lemonade",
        "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 32
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 32
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_mobile_heading"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 24
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 24
        },
        {
            "type": "header",
            "content": "Section image settings"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Section text & button settings"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Try our signature"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "lemonades"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Choose"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
        ],
        "blocks": [
        ],
        "presets": [
        {
            "name": "Lemonade",
            "settings": {
            },
            "blocks": [
            ]
        }
        ],
        "enabled_on": {
        "templates": ["*"]
        }
    }
    {% endschema %}