{{ 'section-reserve.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="reserve page-width section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="reserve__body">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'info' -%}
                <div class="reserve__info" {{ block.shopify_attributes }}>
                    <h3 class="reserve__subtitle">{{ block.settings.subtitle }}</h3>
                    <h2 class="reserve__title">{{ block.settings.title }}</h2>
                    <a href="{{ block.settings.button_link }}" class="reserve__button red-button">{{ block.settings.button_text }}</a>
                </div>
                {%- when 'image' -%}
                <div class="reserve__image" {{ block.shopify_attributes }}>
                    {%- if block.settings.image != blank -%}
                        {{ block.settings.image | image_url: width: 647 | image_tag }}
                      {%- endif -%}
                </div>
        {%- endcase -%}
    {%- endfor -%}
    </div>
</div>

{% schema %}
    {
      "name": "Reserve",
      "max_blocks": 2,
      "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 32
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 32
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_mobile_heading"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 24
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 24
        }
      ],
      "blocks": [
          {
            "name": "Image block",
            "type": "image",
            "settings": [
            {
              "type": "header",
              "content": "Image settings"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
            ]
          },
          {
            "name": "Info block",
            "type": "info",
            "settings": [
              {
              "type": "header",
              "content": "Text settings"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Subtitle",
              "default": "Become our guest and try"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Paraguayan dishes"
            },
            {
                "type": "header",
                "content": "Button settings"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button text",
              "default": "Reserve a table"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }
            ]
          }
      ],
      "presets": [
        {
          "name": "Reserve",
          "settings": {
          },
          "blocks": [
            {
              "type": "info",
              "settings": {
                }
            },
            {
              "type": "image",
              "settings": {
                }
            }
          ]
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
    {% endschema %}